<h1><%= pluralize(@busowners.size, "Busowner") %></h1>
<ul class="busowners">
<% @busowners.each do |busowner| %>
   <li>
     <%= link_to busowner.name, busowner %>
     created
    <%= time_ago_in_words(busowner.created_at) %> ago
   </li>
   <% end %>
</ul>