<h1> "Reservation</h1>
<ul class="reservations">
  <% @reservations.each do |reservation| %>
    <li>
      <%= link_to reservation.quantity, reservation %>
      created
      <%= time_ago_in_words(reservation.created_at) %> ago
    </li>
  <% end %>
</ul>